<h2>管理者ログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<%= f.label :メールアドレス, class: "control-label" %>
<%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
<%= f.label :パスワード, class: "control-label" %>
<%= f.password_field :password, autocomplete: "encrypted_password", class: "form-control" %>
<%= f.submit "ログイン", class: "new-btn btn btn-primary" %>
<% end %>
<%= render "admin/shared/links" %>